@import url("https://fonts.googleapis.com/css?family=Poppins");
.site-header {
  position: fixed;
  z-index: 2030;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.sticky {
  background-color: black;
}

.site-header-row {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  margin-top: 2px;
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  display: block;
  line-height: 0;
}

.header-logo img {
  width: auto;
  max-width: 100%;
}

.header-navbar {
  padding: 0 15px;
}

.header-navbar ul {
  display: flex;
  justify-content: center;
}

.header-navbar ul li {
  color: #fff;
  margin: 0 26px;
}

.header-navbar a {
  color: #fff;
}

.header-tool {
  width: 200px;
  flex: 0 0 200px;
  padding: 0;
}

.header-tool a {
  color: #fff;
}

.header-tool ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-tool ul li {
  padding: 0 26px;
  border-right: 2px solid #777;
  line-height: 0;
}

.header-tool ul li:first-child {
  padding-left: 0;
}

.header-tool ul li:last-child {
  padding-right: 0;
  border-right: 0;
}

.header-tool ul li:nth-child(3) {
  padding-right: 0;
  border-right: 0;
}

.header-bar {
  display: none;
  font-size: 20px;
  color: #fff;
}

.close-nav {
  display: none;
}

.close-nav i {
  font-size: 20px;
}

@media screen and (max-width: 767.9px) {
  .header-bar {
    display: block !important;
  }
  .header-navbar {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 300px !important;
    background: black;
    top: 0;
    right: 0;
    display: none;
    padding: 20px;
    box-sizing: border-box;
  }
  .header-navbar ul {
    flex-direction: column;
    margin-left: -10px;
    margin-top: 20px;
  }
  .header-navbar a {
    display: block;
    margin: 10px 0;
  }
  .header-navbar.baractive {
    display: block;
  }
  .close-nav {
    display: block;
    position: relative;
  }
  .header-tool ul li {
    border: none;
    padding: 0 16px;
  }
}
@media screen and (max-width: 1023.9px) {
  .header-bar {
    display: block !important;
  }
  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-navbar {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 600px;
    background: black;
    top: 0;
    right: 0;
    display: none;
    padding: 20px;
    box-sizing: border-box;
  }
  .header-navbar ul {
    flex-direction: column;
    margin-left: -10px;
    margin-top: 20px;
  }
  .header-navbar a {
    display: block;
    margin: 20px 0;
  }
  .header-navbar.baractive {
    display: block;
  }
  .close-nav {
    display: block;
    position: relative;
  }
  .header-tool ul li {
    border: none;
  }
}
.main-banner {
  min-height: 950px;
  background-image: url("../img/banner/banner_model.png"), url("../img/banner/banner_background.png");
  background-repeat: no-repeat, no-repeat;
  background-size: auto 759px, auto 100%;
  background-position: bottom 0 right 23.8%, center;
  background-color: #777;
}

.main-banner_text {
  color: #fff;
  width: 532px;
  max-width: 100%;
  padding-top: 293px;
}

.main-banner_title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: -6px;
}

.main-banner_slogan {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 17px;
}

.main-banner_des {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142;
  margin-bottom: 55px;
}

.main-banner_shop a {
  border: 1px solid #fff;
  padding: 12px 46px;
  color: #fff;
}

.main-banner_shop a:hover {
  color: black;
  background-color: #fff;
}

.category-product {
  margin-top: -77px;
}

.category-product-content {
  display: grid;
  grid-template-columns: 390px 390px 390px;
  grid-template-rows: 250px 250px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.category-product-content_des {
  background-color: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-product-content_title {
  font-size: 18px;
  font-weight: 700;
  margin: 22.5px 0 16.5px 0;
}

.category-product-content_note {
  font-size: 14px;
  width: 331px;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.product {
  margin-top: 100px;
}

.product-tabs {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

.product-tabs li {
  margin-right: 10px;
}

.product-tabs li a {
  font-size: 16px;
  font-weight: 800;
  display: block;
  padding: 16px 35px;
  position: relative;
  color: black;
}

.product-tabs li a::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: transparent;
}

.product-tabs li.active a::after,
.product-tabs li:hover a::after {
  background: #dd2f31;
}

.product-tabs li.active a {
  color: #dd2f31;
}

.product-content {
  display: block;
  width: 100%;
}

.product-content-item ul {
  display: flex;
  flex-wrap: wrap;
}

.product-content-item ul li {
  margin-top: 60px;
  padding-left: 22px;
  padding-bottom: 35px;
}

.product-content-item ul li img {
  position: relative;
}

.product-content-item ul li:hover {
  border: 1px solid #ddd;
}

.product-content-item ul li:hover .item-tool {
  visibility: visible;
}

.item-fa {
  position: relative;
}

.item-name {
  font-weight: 500;
  font-size: 17px;
  color: black;
}

.item-price {
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.item-tool {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-check {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #777777;
  border-radius: 8px 4px;
  color: #777777;
  width: 34px;
  height: 34px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked {
  background-color: #dd2f31;
  border: none;
  color: #fff;
}

.testimonial {
  position: relative;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 40px;
  overflow: hidden;
}

.testimonial .image {
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}

.slide h1 {
  font-size: 36px;
  font-weight: bold;
}

.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  max-width: 780px;
}

.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide-active {
  width: 760px;
}

.details .name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

.brand {
  margin-top: 97px;
  border-top: 1px solid #ddd;
}

.brand-wrap {
  display: flex;
  min-height: 153px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767.9px) {
  .main-banner_text {
    color: #fff;
    width: 532px;
    max-width: 100%;
    padding-top: 200px;
  }
  .main-banner_title {
    font-size: 40px;
  }
  .main-banner_slogan {
    font-size: 20px;
  }
  .category-product-content {
    display: block;
  }
  .category-product-content_img img {
    max-width: 100%;
  }
  .category-product-content_des {
    padding: 15px;
    width: 100%;
  }
  .product-tabs {
    display: block;
  }
  .product-content-item ul {
    justify-content: center;
  }
  .product-content-item ul li {
    padding-left: 0;
  }
  .item-name, .item-price {
    text-align: center;
  }
  .slide h1 {
    text-align: center;
  }
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
  .brand-wrap {
    margin: 10px;
    flex-wrap: wrap;
  }
  .brand-wrap img {
    padding: 10px;
  }
}
@media screen and (max-width: 1027.9px) {
  .category-product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .category-product-content_img img {
    max-width: 100%;
    height: 100%;
  }
  .category-product-content_des {
    padding: 8px;
  }
  .product-content-item ul {
    justify-content: space-around;
  }
  .brand {
    display: flex;
    justify-content: center;
  }
  .brand-wrap {
    margin: 20px;
    flex-wrap: wrap;
    max-width: 500px;
  }
  .brand-wrap img {
    box-sizing: border-box;
    width: 150px;
  }
}
.site-footer {
  background-color: #222;
  color: #777;
}

.site-footer_heading {
  padding: 100px 15px 34px;
  box-sizing: border-box;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 1.7142;
}

.site-footer-nav_heading {
  margin-bottom: 18px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.6666;
  color: #fff;
  font-weight: 700;
}

.footer-logo-img {
  width: 199px;
  display: block;
  margin: 0 auto;
}

.footer-logo-img img {
  width: 100%;
}

.footer-des {
  margin-top: 26px;
}

.footer-social {
  margin-top: 21px;
  transform: translateX(3px);
}

.footer-social i {
  color: #777;
  font-size: 18px;
}

.footer-social ul {
  display: flex;
  justify-content: center;
}

.footer-social ul a {
  width: 63px;
  padding: 20px 0;
  display: block;
}

.site-footer_navbar .row {
  border-top: 1px solid #777;
  display: flex;
}

.site-footer_navbar .col {
  max-width: 25%;
  flex: 0 0 25%;
  position: relative;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-top: 80px;
}

.site-footer_navbar li,
.site-footer_navbar a {
  font-size: 14px;
  line-height: 2.8571;
  color: #777;
}

.footer-contact-us_list i {
  padding-right: 10px;
}

.copyright {
  margin-top: 39px;
  background-color: black;
}

.copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  min-height: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 14px;
  line-height: 2.1428;
  text-align: center;
}

@media screen and (max-width: 767.9px) {
  .site-footer_navbar .row {
    display: block;
  }
  .site-footer_navbar .col {
    max-width: 100%;
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */